.vertical-spacer {
    height: 100px;
}
.fixed-nav {
    position: fixed;
    z-index: 100;
}
.margin-top-15 {
    margin: 15px;
}
.magnify-text {
    font-size: 1.3em;
}
.online-cancel {
    outline: none;
}