.vertical-spacer {
    height: 20px;
}
.margin-top-15 {
    margin: 15px;
}
.magnify-text {
    font-size: 1.3em;
}
.online-cancel {
    outline: none;
}
.hide-overflow {
    overflow: hidden;
}
@media only screen and (max-width: 993px) {
    #logo-image img {
        height: 64px;
    }
}
@media only screen and (max-width: 601px) {
    #logo-image img {
        height: 56px;
    }
}